<% provide(:title, "contact") %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
    <h1>Contact</h1>
      <p>
        Contact the ruby on rails tutorial on <a href="https://www.railstutorial.org/#contact">
         Contact page</a>. To get help on this sample app see <a href="https://www.railstutorial.org/"><em>Ruby On Rails Tutorial</em></a></p>
    <p1>
      If any query contact this email <a href="ckbagul@gmail.com">ckbagul</a>
  </p1>
</html>
