<h1>StaticPages Help Section</h1>
<p>
  Get help from ruby on rails tutorial....on <a href="https://www.railstutorial.org/">
  rails tutorial help section</a>. To get help on this sample app see <a href="https://www.railstutorial.org/"><em>Ruby On Rails Tutorial</em></a>
</p>
